nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height:65px;
    width:100%;
    background-color: #ed5fbe;
    color:white;
}

nav ul li{
    padding: 10px;
    margin: 10px;
}